.previewCanvas {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .125);
    
    @media (min-width: 992px) {
        padding: 40px;
        border-radius: 8px;
        background-image: url(../../images/descont.png);
    }
}