.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: #f8f8f8;
}
  
.preloader .spinner-border {
    display: flex;
    width: 32px;
    height: 32px;
    color: #5e72e4;
}