.themeSwitcher {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: #e6e6e6;
    color: #333;
    border-radius: 6px;
}